.back-link {
  font-size: 14px;
  color: #ff4b90;
}
.icon-pink {
  color: #ff4b90;
  margin-right: 5px;
  font-size: 16px;
}

.map-container {
  width: 500px;
  height: 500px;
  border-radius: 20px;
}

#show-map {
  height: 500px;
  border-radius: 20px;
}

.map-wrraper {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.opening-hours {
  padding-right: 76px;
}
