.card-shortlist {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  width: 260px;
  border-radius: var(--rounded-box,1rem);
  flex-direction: column;
  display: flex;
  position: relative;
  overflow: hidden;
  img {
    object-fit: fill;
    height: 175px;
  }
  h2 {
    height:30px;
    font-weight: 500;
  }
  &:hover {
    transform: scale(1.05) rotate(0.001deg);
    transition-duration:0.6s;
  }
}
.back-link {
  font-size: 14px;
  color: #ff4b90;
}
.icon-pink {
  color: #ff4b90;
  margin-right: 5px;
  font-size: 16px;
}
.shortlist-apply{
  background-color: #ff4b90 !important;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 2em;
  padding: 5px 14px;
  margin: 4px 10px 5px 0;
  &:hover {
    background-color: #f55d97 !important;
    color: #FFFFFF;
  }
}
