.map-container {
  width: 500px;
  height: 500px;
  border-radius: 20px;

}

#show-map {
  height: 500px;
  border-radius: 20px;
}

.map-wrraper {
  background-color: #FAEEE7;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.opening-hours {
  padding-right: 76px;
}
