<div class="hero p-10 bg-base-200" style= "background-color: #FAEEE7; height: 480px">
  <div class="hero-content flex-col lg:flex-row-reverse picture-transition">
    <img src="https://res.cloudinary.com/dxu35uhgf/image/upload/v1654667278/c9gwfy7fqzpmhjeu1flo.jpg" class="max-w-sm rounded-lg shadow-2xl"  />
    <div>
      <h1 class="text-3xl font-bold">Find the best facilities around you</h1>
      <p class="py-6">Our website lets you filter and compare all the childcares around you in just few clicks! Access all our verified reviews to help you in your search.</p>
      <a href="#top"><button  class="button-primary" style="margin-left: 0;">Start searching now</button></a>
    </div>
  </div>
</div>
