<% if childcare.photos.attached? %>
  <div class="card-mine w-96 bg-base-100">
    <figure><img img src='<%= childcare.photos.first.url %>' alt="Shoes" /></figure>
    <div class="small-card-body">
      <h2 style="height:30px;"><%= childcare.name %></h2>
      <div class="d-flex justify-content-between">
        <div class="rating mt-2">
             <% (childcare.rating).to_i.times do %>
              <i class="rating-star fas fa-solid fa-star"></i>
             <% end %>
             <% if  (childcare.rating).to_i == 0 %>
              <i class="rating-star fas fa-solid fa-star"></i>
              <i class="rating-star fas fa-solid fa-star"></i>
              <i class="rating-star fas fa-solid fa-star"></i>
             <% end %>
          </div>
        <%= link_to "Show", childcare_path(childcare), class:"button-outline" %>
      </div>
    </div>
  </div>
<% end %>
