<% if childcare.photos.attached? %>
  <div class="card-mine w-96 bg-base-100">
    <%= link_to childcare_path(childcare) do %>
    <figure><img img src='<%= childcare.photos.first.url %>' alt="childcare" /></figure>
    <% end %>
    <div class="small-card-body">
      <h2 style="height:30px;"><%= link_to childcare.name, childcare_path(childcare) %></h2>
      <div class="d-flex justify-content-between">
        <div class="rating mt-3">
             <% (childcare.rating).to_i.times do %>
              <i class="rating-star fas fa-solid fa-star"></i>
             <% end %>
             <% if  (childcare.rating).to_i == 0 %>
              <i class="rating-star fas fa-solid fa-star"></i>
              <i class="rating-star fas fa-solid fa-star"></i>
              <i class="rating-star fas fa-solid fa-star"></i>
             <% end %>
          </div>
          <%= link_to current_user.favorited?(childcare) ? "⎷ Added" : "Add to shortlist", toggle_favorite_application_path(childcare),
                  remote: true,
                  method: :post,
                  class: current_user.favorited?(childcare) ? "button-outline" : "button-primary",
                  data: {
                    controller: 'shortlist-button',
                    action: 'click->shortlist-button#shortlist'
                  }
           %>
      </div>
    </div>
  </div>
<% end %>
