 <footer class="py-5">
  <div class="footer-content d-flex justify-content-evenly">
      <div class="title-large d-flex align-items-center link-group">
        <%= image_tag "footer-logo.png" %>
      </div>
      <div class="link-group">
        <h5>Childcare Locations</h5>
        <p>Australian Capital Territory</p>
        <p>New South Wales</p>
        <p>Northern Territory</p>
        <p>Victoria</p>
        <p>South Australis</p>
        <p>Queensland</p>
        <p>Tasmania</p>
      </div>
      <div class="link-group">
        <h5>Connect With Us</h5>
        <p>About Us</p>
        <p>FAQs</p>
        <p>Term & Conditions</p>
        <p>Privacy Policy</p>
      </div>
     <div class="link-group">
      <h5>Follow Us</h5>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
     </div>
    </div>
</footer>
