<div class="container about-container mb-5">
  <h1 >About page</h1>
  <p>
    Looking for a trustworthy and affordable childcare option? Look no further than our childcare search engine! We provide a comprehensive database of childcare providers in your area, complete with customer reviews and ratings.</p>
  <p>
    With our search engine, you can easily find a provider that meets your needs and budget. We also offer a variety of resources to help    you make the best decision for your family.</p>
  <p>
   <strong>Don't spend hours scouring the internet for the perfect childcare provider. Let our website do the work for you!</strong> </p>
  <p>
    We hope that our website will be a useful tool for you as you search for childcare. We know how important it is to find the right care for your child, and we are here to help. Thank you for using our website, and we wish you the best of luck in finding the perfect childcare for your family.</p>
</div>
