<h1>Home </h1>

<h1 class="header-font">title</h1>
<p class="base-font">paragraph</p>
<div style="width: 100px; height: 100px; border: 1px solid black"></div>
<div class="btn primary" style="width: 100px; height: 100px; border: 1px solid black"></div>
<hr>
<button class="button-primary">button-primary</button>
<button class="button-outline">button-outline</button>

<%= render 'shared/banner_right' %>
<%= render 'shared/reviews_banner' %>
<%= render 'shared/banner_left' %>
