footer {
  background-color: #325288;
  color: #FAEEE7;
}
.footer-content {
  img {
    width: 250px;
  }
  h5 {
    margin-bottom: 20px;
    font-weight: 700;
    color: #d0eaf7;
  }
  p {
    margin:0;
    line-height: 2.5;
    font-weight: 300;
  }
  a {
    font-size: 32px;
    margin-right: 5px;
  }
}
