.photo-banner-content {
  text-align: left;
  padding: 25px 15px 15px 15px;
  margin-top: 15px;
  h1{
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  p {
    margin-bottom: 10px;
  }
  .apply-button{
    margin-left: 0;
  }
}

.cta{
  margin-top: 25px;
}
