<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <style>
          .email-body-contianer {

            min-height: calc(100vh);
          }

          .email-container {
            background-color: #FAEEE7;
            width: 700px;
            border-radius: 10px;
            border: 1px solid #000000;
            text-align: left;
            width: 700px !important;
            h1 {
              color: rgb(0, 0, 0);
              text-align: center;
              margin-top: 30px;
              font-size: xx-large;
            }

            p {
              margin-top: 5px;
              font-size: 10px;

            }

            li {
              font-size: 15px;
            }
            h5 {
              font-size: 15px;
            }

            a {
              font-size: 10px;
            }

          }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
