<h1>Childcare Centres</h1>

<div class="d-flex justify-content-between ">
    <div>
      <% @childcares.each do |childcare| %>
          <p><%= link_to childcare.name, childcare_path(childcare) %></p>
          <p><%= childcare.email %></p>
          <hr>
     <% end %>
    </div>

    <div style="width: 100%; height: 600px"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
